body {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.box {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 37px;
    cursor: pointer;
    text-transform: capitalize;
    user-select: none;
    text-align: center;
}